<div class="container">


  <div class="appuser">
      <!-- <div class="votes-ans">
        <div class="votes">
          <p> 3 Answers</p>
        </div>
      <div class="votes2">
        <p> 2 Votes</p>
      </div>
    </div> -->
      <div class="person-name">
        <div class="title">
          <p>John Ndiore</p>
        </div>
        <!-- <div class="tags">
          <h4>Javasript</h4>
          <h4>Angular</h4>
        </div> -->
      </div>
      <div class="username">
        <p>Dior22</p>
      </div>
      <div class="delete" (click)="deleteUser()">
        <!-- <h1>x</h1> -->
        <i class="fa-solid fa-xmark"></i>
      </div>
  </div>



  <div class="appuser">
    <div class="person-name">
      <div class="title">
        <p>John Ndiore</p>
      </div>
    </div>
    <div class="username">
      <p>Mmbet21</p>
    </div>
    <div class="delete">
      <i class="fa-solid fa-xmark"></i>
    </div>
</div>

</div>
