<div class="content">

  <div class="container">
    <div class="left-bar">
      <div class="my-posts">
        <p>My posts</p>
    </div>
    <div class="all-posts"  routerLink="/posts">
      <p>All posts</p>
    </div>
  </div>
<!-- Middle content -->
  <div class="middle-content">
<div *ngFor="for let q of question">
    <!-- One question -->
    <div class="questions">
      <div class="quiz-title">
        <div class="title">
          <p>{{q.question_title}}</p>
        </div>
        <div class="date-asked">
          <p>Asked:{{q.date_created | date}}</p>
        </div>
      </div>
      <!--Question description  -->
      <div class="description-trial-tags">
        <div class="description">
          <p>{{q.question_desc}}</p>
        </div>
        <div class="trial">
          <p>{{q.question_trial}}</p>
        </div>
        <div class="tags">
          <h4>{{q.question_tags}}</h4>
          <!-- <h4>Angular</h4> -->
        </div>

      </div>

    </div>

    <!-- Answers and comments -->

    <div class="answer">
      <div class="answer-left">

        <div class="no-of-answers">
          <p>1 Answer</p>
        </div>
        <div class="ratings">
          <div class="like" title="Answer is useful">
            <!-- <span class="material-symbols-outlined">
              thumb_up
              </span> -->
              <i class="fa-solid fa-thumbs-up"></i>
          </div>

          <div class="like-count">
            4
          </div>
          <div class="dislike" title="Answer is as useful as a wooden frying pan">
            <!-- <span class="material-symbols-outlined">
              thumb_down
              </span> -->
              <i class="fa-solid fa-thumbs-down"></i>
          </div>
        </div>
      </div>
      <div class="answer-right">
        <div class="highlight">
          <p>Highlight Answer</p>
        </div>
        <div class="answer-container">
          <div class="ans-desc">
            <!-- <p>However, with SSR, the server generates a complete HTML page that includes all of the initial content, and sends this to the client's browser. This means that the user can see the content of the page more quickly, and the page is more easily indexed by search engines.
              SSR is especially useful for applications that require faster load times, better SEO, and more accessible content. By generating the HTML on the server-side, the initial loading time of the application is reduced, and users can see the content of the page more quickly. Additionally, search engine crawlers can more easily index the content of the page, which can improve the page's visibility in search results.
            </p> -->
            {{q.answer}}
          </div>
          <div class="ans-comments">
            <div class="comments">
              <h4>Comments</h4>
              <div class="comment">
                <p>{{q.comment}}</p>
                <div class="comment-username">
                  <p>Milgo21</p>
                </div>
              </div>
            </div>
            <div class="add-comment">
              <input type="text">
              <button>Add comment</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    </div>

    <!-- Post your answer -->
    <div class="post-answer">
      <div class="post-title">
        <p>Your answer</p>
      </div>
      <div class="post-input">
          <!-- <input type="text" placeholder="your answer bruvv" id="post"> -->
          <textarea name="" id="" cols="30" rows="10" placeholder="Your answer bazuuu"></textarea>
      </div>
      <div class="post-button">
        <button>POST ANSWER </button>
      </div>
    </div>
  </div>

  <!-- Right bar -->
  <div class="right-bar">
    <div class="ask">
      Ask Q

    </div>
    <div class="plus" routerLink="/ask">
      <i class="fa-solid fa-plus"></i>
    </div>
  </div>
</div>

</div>


