<div class="content">

  <div class="container">
    <div class="left-bar">
      <div class="prof-pic">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS47NeJ9Rcoxq2xx41OqTfAgL_lsd6gT3Xn7A&usqp=CAU" alt="">
      </div>
      <div class="about">
        <p>Software dev</p>
        <p>Who loves coding</p>
      </div>
      <div class="view">
        <button>More About</button>
      </div>
    </div>
  <div class="middle-content">
    <!-- Search bar -->
    <div class="stats-bar">
      <!-- Number of posts stat -->
      <div class="posts-stat" id="posts">
        <div class="post-no">
          <h2>{{noofQuiz}}</h2>
        </div>
        <div class="stat-title" >
          <p>Total Posts</p>
        </div>
      </div>
      <!-- Number of  answers-->
      <div class="posts-stat" id="ans">
        <div class="post-no">
          <h2>{{noofAnswers}}</h2>
        </div>
        <div class="stat-title">
          <p>Total Answers</p>
        </div>
      </div>

      <!--  Number of votes -->
      <div class="posts-stat" id="votes">
        <div class="post-no">
          <h2>{{noofComments}}</h2>
        </div>
        <div class="stat-title">
          <p>Total Comments</p>
        </div>
      </div>

    </div>
    <!-- Pagination -->
    <div class="pagination">
      <div class="prev">
        <p>Previous</p>
      </div>
      <div class="page-no">
      <p>3</p>
      </div>
      <div class="next">
        <p>Next</p>
      </div>
    </div>
    <!-- Admin search -->
    <div class="filterby">
      <div>

      </div>
      <div class="prev">
        <p>Search by:</p>
      </div>
      <div class="page-no allquizs" routerLink="/admin">
      <p>Questions</p>
      </div>
      <div class="next answerfilter" routerLink="users">
        <p>Users</p>
      </div>
    </div>

    <!-- One question -->
    <router-outlet></router-outlet>
    <!-- Qustions above -->

  </div>

  <!-- Right bar -->
  <!-- <div class="right-bar">
    <div class="ask">
      Ask a question

    </div>
    <div class="plus">
      +
    </div>
  </div> -->
</div>

</div>



