<div class="container" [formGroup]="updateForm" (ngSubmit)="updateQuestion()">
  <form>
    <div>
      <label for="question_title">Question title</label><br>
      <input type="text" formControlName="question_title">
      <!-- <p *ngIf="updateForm.get('question_title')!.touched">question_title is required</p> -->
      <p *ngIf="updateForm.get('question_title')!.touched && updateForm.get('question_title')!.invalid">Please enter title</p>
    </div>
    <br>
    <div>
      <label for="question_desc">Question description</label><br>
      <textarea name="" id="" cols="30" rows="10" formControlName="question_desc"></textarea>
      <!-- <input type="text" > -->
      <p *ngIf="updateForm.get('question_desc')!.touched && updateForm.get('question_desc')!.invalid">description is requred</p>
    </div>
    <br>
    <div>
      <label for="question_trial">What you tried </label><br>
      <!-- <input type="text" > -->
      <textarea name="" id="" cols="30" rows="10" formControlName="question_trial"></textarea>
      <p *ngIf="updateForm.get('question_trial')!.touched && updateForm.get('question_trial')!.invalid">Trial is required</p>
    </div>
    <br>
    <div>
      <label for="question_tags">Tags</label><br>
      <input type="text" formControlName="question_tags">
      <p *ngIf="updateForm.get('question_tags')!.touched && updateForm.get('question_tags')!.invalid">Tag is required</p>
    </div>
    <br>
    <br>
    <div class="bottom-butttons">
      <input type="submit" value="Update question" [disabled]="!updateForm.valid">
      <br>
    </div>

  </form>
</div>
