.content{
  display: flex;
  justify-content: center;
  /* margin-bottom: 3rem; */
}
.container{
  width: 90%;
  display: flex;
  justify-content: space-evenly;
  margin-top: 5rem;
  margin-bottom: 5rem;

}
.left-bar{
  width: 15%;
  height: fit-content;
  background-color: #E4E3C4;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.7rem;
}
.prof-pic>img{
  height: 7rem;
  width: 100%;
  border-radius: 50%;
}
.about{
  text-align: center;
}

.view>button{

  padding: 0.5rem;
  border: none;
  background-color: #60CB77;
  color: white;
  border-radius: 3px;
}
/* .my-posts,.all-posts{
  background-color: white;
  margin-bottom: 1rem;
  padding: 0.5rem;
  text-align: center;
} */
.middle-content{
  width: 65%;
  /* background-color: #E4E3C4; */
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.stats-bar{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.stat-title{
  border-top: 3px solid white;
  padding: 0.4rem;
}
.posts-stat{
  width: 25%;
  height: 20vh;
  padding: 0.5rem;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777;
}
#posts{
  background-color: #E53D3D;
}
#ans{
  background-color: #0E85D6;
}
#votes{
  background-color: #60CB77;
}
.pagination{
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}
.filterby{
  display: flex;
  justify-content: flex-start;
  width: 100%;
  gap: 1rem;
  flex-wrap: wrap;
}
.allquizs,.answerfilter, .datefilter{
  cursor: pointer;
}
.prev, .next ,.page-no{
  background-color: #E4E3C4;
  padding: 0.5rem;
}
.questions{
  background-color: #E4E3C4;
  display: flex;
  padding: 0.5rem;
  border-radius: 3px;
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777;
}
.votes-ans{
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
}
.votes{
  padding: 0.2rem;
  background-color: green;
  color: white;
  border-radius: 2px;
}
.votes2{
  padding: 0.2rem;
  /* background-color: green; */
  /* color: white; */
}
.quiz-title{
  width: 70%;
}
.tags{
  display: flex;
  justify-content: flex-start;
  gap: 4%;
  flex-wrap: wrap;
}
.delete{
  display: flex;
  justify-content: center;
  align-items: center;
  /* color: white; */
  padding: 0.5rem;
  color: #E53D3D;
  font-size: 2rem;
  border-radius: 50%;
  margin-left: 1rem;
  height: 70%;
}
.username{
  display: flex;
  justify-content: flex-end;
}

.right-bar{
  width: 15%;
  background-color: #E4E3C4;
  padding:2rem;
  height: 30%;
}
.ask,.plus{
  padding: 0.5rem;
  margin-bottom: 1rem;
}
.plus{
  display: flex;
  justify-content: center;
  font-size: larger;
}
.fa-xmark{
  cursor: pointer;
}
@media only screen and (max-width: 827px) {
  .left-bar{
    width: 20%;
    height: fit-content;
    background-color: #E4E3C4;
    padding: 1rem;
  }
  .title{
    padding: 0.2rem;
  }
  .right-bar{
    width: 15%;
    background-color: #E4E3C4;
    padding:0.2rem;
  }
  .votes-ans{
    width: 32%;
  }
  .posts-stat{
    height: fit-content;
  }
}
