<div class="questions">
  <div class="votes-ans">
    <div class="votes">
      <p> 3 Answers</p>
    </div>
    <div class="votes2">
      <p> 2 Votes</p>
    </div>
  </div>
  <div class="quiz-title">
    <div class="title">
      <p>How to re-render component, using effect and Us state</p>
    </div>
    <div class="tags">
      <h4>Javasript</h4>
      <h4>Angular</h4>
    </div>
    <div class="username">
      <p>Milgo21</p>
    </div>
  </div>
  <div class="delete">
    <h1>x</h1>
  </div>
</div>

<!-- Question 2 -->
<div class="questions">
  <div class="votes-ans">
    <div class="votes">
      <p> 3 Answers</p>
    </div>
    <div class="votes2">
      <p> 2 Votes</p>
    </div>
  </div>
  <div class="quiz-title">
    <div class="title">
      <p>How to re-render component, using effect and Us state</p>
    </div>
    <div class="tags">
      <h4>Javasript</h4>
      <h4>Angular</h4>
    </div>
    <div class="username">
      <p>Milgo21</p>
    </div>
  </div>
  <div class="delete">
    <h1>x</h1>
  </div>
</div>

<!-- Question 3 -->
<div class="questions">
  <div class="votes-ans">
    <div class="votes">
      <p> 3 Answers</p>
    </div>
    <div class="votes2">
      <p> 2 Votes</p>
    </div>
  </div>
  <div class="quiz-title">
    <div class="title">
      <p>How to re-render component, using effect and Us state</p>
    </div>
    <div class="tags">
      <h4>Javasript</h4>
      <h4>Angular</h4>
    </div>
    <div class="username">
      <p>Milgo21</p>
    </div>
  </div>
  <div class="delete">
    <h1>x</h1>
  </div>
</div>
