<!-- <div class="container" #myForm="ngForm" (ngSubmit)="resetPassword()">
  <form>
    <div>
      <label for="email">Email</label><br>
      <input type="text" name="email" (ngModel)="email" ngModel required #email="ngModel">
      <p *ngIf="loginForm.get('email')!.touched">Email is required</p>
      <p *ngIf="loginForm.get('email')!.touched && loginForm.get('email')!.invalid">Please enter a valid email</p>
    </div>
    <div>
      <label for="password">Enter new password</label><br>
      <input type="text" (ngModel)="password" ngModel #password="ngModel">
      <p *ngIf="loginForm.get('password')!.touched && loginForm.get('password')!.invalid">Password is requred</p>
    </div>
    <br>
    <div class="bottom-butttons">
      <input type="submit" value="Login" [disabled]="!myForm.valid">
      <br>
    </div>

  </form>
</div> -->
