<div class="container2">
  <div class="logo">
    <img src="https://download.logo.wine/logo/Stack_Overflow/Stack_Overflow-Logo.wine.png" alt="">
  </div>

  <div class="stack-overflow">
    <div class="title">
      <p>Stack_Overflow</p>
    </div>
    <br>
    <div class="below-title">
      <p>About</p>
      <p>Press</p>
      <p>Work here</p>
      <p> Contact us</p>
    </div>
  </div>


  <div class="policies">
    <div class="title">
      <p>Policies</p>
    </div>
    <br>
    <div class="below-title">
      <p>Legal</p>
      <p>Private policy</p>
      <p>Terms of service</p>
      <p>Cookie policies</p>
    </div>
  </div>


  <div class="channels">
    <div class="title">
      <p>Channels</p>
    </div>
    <br>
    <div class="below-title">
      <p>Instagram</p>
      <p>Facebook</p>
      <p>Twitter</p>
      <p>LinkedIn</p>
    </div>
  </div>
</div>


