<div class="container">
  <div class="logo">
    <img src="https://download.logo.wine/logo/Stack_Overflow/Stack_Overflow-Logo.wine.png" alt="" routerLink="">
  </div>
  <div class="nav-links">
    <a routerLink="" appHighlight>Home</a>
    <a *ngIf="!auth.loggedin"  routerLink="login">Login</a>
    <a *ngIf="auth.loggedin"routerLink="login" (click)="auth.logout()">Logout</a>
    <a *ngIf="!auth.loggedin" routerLink="register">Register</a>
    <a *ngIf="auth.loggedin" routerLink="posts">Posts </a>
    <a *ngIf="!auth.is_admin && auth.loggedin" routerLink="profile">MyProfile</a>
    <a routerLink="admin" *ngIf="auth.is_admin">Admin</a>
  </div>
</div>
