.container{
background-color: #E4E3C4;
height: 10vh;
width: 100%;
display: flex;
justify-content: space-between;

}
.logo{
  width: 40%;
  height: 110%;
  cursor: pointer;
}
.nav-links{
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: white;
}
a{
  text-decoration: none;
  color: white;
  background-color:#181823;
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 3px;
}
img{
  width: 40%;
  height: 120%;
}
/* For screens with a width of 768px or less */
@media only screen and (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
    height: fit-content;
    align-items: center;
    padding: 0.5rem;
  }
  img{
    width: 70%;
    height: 100%;
  }
  .nav-links{
    width: 100%;
    /* display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: white; */
  }
  .logo{
    width: 60%;
    height: 20%;
  }
  /*
  .logo, .nav-links {
    width: 100%;
    text-align: center;
  }

  img {
    width: 80%;
    height: 50%;
    margin-top: 1rem;
  }

  .nav-links a {
    display: block;
    margin-bottom: 1rem;
  } */
}

/* For screens with a width of 1024px or less */
@media only screen and (max-width: 1024px) {
  .nav-links {
    font-size: 0.8rem;
  }
}

