<div class="container" [formGroup]="askForm" (ngSubmit)="askquestion()">
  <form>
    <div>
      <label for="title">Question title</label><br>
      <input type="text" formControlName="question_title">
      <!-- <p *ngIf="askForm.get('title')!.touched">title is required</p> -->
      <p *ngIf="askForm.get('question_title')!.touched && askForm.get('question_title')!.invalid">Please enter title</p>
    </div>
    <br>
    <div>
      <label for="description">Question description</label><br>
      <!-- <input type="text" > -->
      <textarea name="" id="" cols="30" rows="10" formControlName="question_desc"></textarea>
      <p *ngIf="askForm.get('question_desc')!.touched && askForm.get('question_desc')!.invalid">description is requred</p>
    </div>
    <br>
    <div>
      <label for="trial">What you tried </label><br>
      <textarea name="" id="" cols="30" rows="10" formControlName="question_trial"></textarea>
      <!-- <input type="text" > -->
      <p *ngIf="askForm.get('question_trial')!.touched && askForm.get('question_trial')!.invalid">Trial is required</p>
    </div>
    <br>
    <div>
      <label for="tags">Tags</label><br>
      <input type="text" formControlName="question_tags">
      <p *ngIf="askForm.get('question_tags')!.touched && askForm.get('question_tags')!.invalid">Tag is requred</p>
    </div>
    <br>
    <br>
    <div class="bottom-butttons">
      <input type="submit" value="Ask question" [disabled]="!askForm.valid">
      <br>
    </div>

  </form>
</div>
