<div class="content">

  <div class="container">
    <div class="left-bar">
      <div class="my-posts">
        <h2>My posts</h2>
    </div>
    <div class="all-posts">
      <h2>All posts</h2>
    </div>
  </div>
  <div class="middle-content">
    <!-- Search bar -->
    <div class="search-bar">
      <input type="text" placeholder="Search anything">
    </div>
    <!-- Pagination -->
    <div class="pagination">
      <div class="prev">
        <p>Previous</p>
      </div>
      <div class="page-no">
      <p>3</p>
      </div>
      <div class="next">
        <p>Next</p>
      </div>
    </div>

    <!-- One question -->
    <div class="questions">
      <div class="votes-ans">
        <div class="votes">
          <p> 3 Answers</p>
        </div>
        <div class="votes2">
          <p> 2 Votes</p>
        </div>
      </div>
      <div class="quiz-title">
        <div class="title">
          <p>How to re-render component, using effect and Us state</p>
        </div>
        <div class="tags">
          <h4>Javasript</h4>
          <h4>Angular</h4>
        </div>
        <div class="username">
          <p>Milgo21</p>
        </div>
      </div>
    </div>

    <!-- Question 2 -->
    <div class="questions">
      <div class="votes-ans">
        <div class="votes">
          <p> 3 Answers</p>
        </div>
        <div class="votes2">
          <p> 2 Votes</p>
        </div>
      </div>
      <div class="quiz-title">
        <div class="title">
          <p>How to re-render component, using effect and Us state</p>
        </div>
        <div class="tags">
          <h4>Javasript</h4>
          <h4>Angular</h4>
        </div>
        <div class="username">
          <p>Milgo21</p>
        </div>
      </div>
    </div>

    <!-- Question 3 -->
    <div class="questions">
      <div class="votes-ans">
        <div class="votes">
          <p> 3 Answers</p>
        </div>
        <div class="votes2">
          <p> 2 Votes</p>
        </div>
      </div>
      <div class="quiz-title">
        <div class="title">
          <p>How to re-render component, using effect and Us state</p>
        </div>
        <div class="tags">
          <h4>Javasript</h4>
          <h4>Angular</h4>
        </div>
        <div class="username">
          <p>Milgo21</p>
        </div>
      </div>
    </div>

  </div>

  <!-- Right bar -->
  <div class="right-bar">
    <div class="ask">
      Ask a question

    </div>
    <div class="plus">
      +
    </div>
  </div>
</div>

</div>

